.input {
    padding: 8px;
    margin: 0px 0;
    border-radius: 10px;
    border: 3px solid #ccc;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 40vh; 
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 20px auto; /* Auto margin for horizontal centering, small top/bottom margin */
    max-width: 400px; /* Limit width for responsiveness */
    padding: 20px;
    box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff; /* Optional: background color */
    border-radius: 10px; /* Optional: rounded corners */
    width: 100%; /* Ensure it takes full width up to max-width */
    box-sizing: border-box; /* Prevent padding from affecting width */
}